<!-- Start navbar menu -->
<header class="header row">
    <div class="container">
        <div class="logo">
            <a href="../"><img src="images/logo.png" alt="Wedding Planner logo"></a>
        </div>
        <div class="search-box">
            <a class="search-icon" href="javascript: void(0);"><i class="fas fa-search fa-2x"></i></a>
            <div class="search-input">
                <form>
                    <input type="search" placeholder="Search...">
                </form>
            </div>
        </div>
        <a class="toggle-mobile-btn" href="javascript: void(0);">
            <span></span>
        </a>
        <nav class="navigation">
            <ul>
                <li class="active"><a href="../"><i class="fa fa-home fa-2x"></i></a></li>
                <li><a href="../#about">About Us</a></li>
                <li class="sub-menu"><a href="../#services">Services</a>
                    <ul>
                        <li><a href="halls">Halls</a></li>
                        <li><a href="beauty">Beauty</a></li>
                        <li><a href="fashion">Fashion</a></li>
                        <li><a href="photographers">Photography</a></li>

                    </ul>
                </li>
                <li><a href="../#contact">Contact us</a></li>
                <li><button id="myBtn"><img src="images/add.png" alt="Wedding Planner logo"></button></li>
            </ul>
        </nav>
    </div>
</header>
<!-- End navbar menu -->
