<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>wedding planner</title>
<link rel="icon" type="image/icon" href="images/wedding-icon.png">
<!-- Stylesheet links -->
<link rel="stylesheet" href="css/normalize.css" /><!-- normalize css file -->
<link rel="stylesheet" href="css/fontawesome-all.min.css"><!-- Font awesome file for icons as fonts -->
<link rel="stylesheet" type="text/css" href="css/basic.css"> <!-- basic css file for reseting,header & footer-->
<link rel="stylesheet" type="text/css" href="css/show-items.css">
<!-- Stylesheet links end -->
<script type="text/javascript" src="js/form.js"></script>
<script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</head>
